<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>genereAgenda</display-name>
    <servlet-name>genereAgenda</servlet-name>
    <servlet-class>genereAgenda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>genereAgenda</servlet-name>
    <url-pattern>/genereAgenda</url-pattern>
  </servlet-mapping>
  <display-name>agenda</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginBack</display-name>
    <servlet-name>LoginBack</servlet-name>
    <servlet-class>LoginBack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginBack</servlet-name>
    <url-pattern>/LoginBack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginback</display-name>
    <servlet-name>Loginback</servlet-name>
    <servlet-class>Loginback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginback</servlet-name>
    <url-pattern>/Loginback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficheEvent</display-name>
    <servlet-name>AfficheEvent</servlet-name>
    <servlet-class>AfficheEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficheEvent</servlet-name>
    <url-pattern>/AfficheEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutDB</display-name>
    <servlet-name>AjoutDB</servlet-name>
    <servlet-class>AjoutDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutDB</servlet-name>
    <url-pattern>/AjoutDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inscription</display-name>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
</web-app>